body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 200px;
}

main {
    padding: 2% 0 0 6%;
    max-width: 980px;
    margin: 0 auto;
}

main h2 {
    padding-bottom: 1px;
    color:black;
    font-size: 30px;
    font-weight: bold; 
    text-decoration: wavy; 
}

.contactP {
    font-size: 22px;
    line-height: 40px;
}

/* iPad */
@media screen and (max-width: 768px) {
    main {
        max-width: 768px;
    }

    .name {
        padding: 26%;
    }
}

@media screen and (max-width: 640px) {
    main {
        max-width: 640px;
    }
    main {
        padding-left: 10%;
    }
}

/* iPhone 6/7/8 & Galaxy S5 */
@media screen and (max-width: 414px) {
    main {
        max-width: 415px;
        padding-left: 9%;
    }
}

/* iPhone X */
@media screen and (max-width: 375px) {
    main {
        max-width: 375px;
    }
}